<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"     
      autoReload="true"
       internalLogLevel="Warn"
       internalLogFile="${currentdir}/Logs/internal-nlog.txt">

  <targets>
    <!-- 写入文件配置 -->
    <!-- write logs to file  -->
    <target xsi:type="File" name="allfile" fileName="${currentdir}/Logs/nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring} ${newline}" />

    <target xsi:type="File" name="WarnFile" fileName="${currentdir}/Logs/nlog-warn-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring} ${newline}" />
    <target xsi:type="File" name="infomation" fileName="${currentdir}/Logs/nlog-info-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring} ${newline}" />
  </targets>
  <rules>
    <!--All logs, including from Microsoft-->
    <!--minlevel 改为Trace 跟踪全部 Error 只捕获异常-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="*" level="Info" writeTo="infomation"  />
    <!-- BlackHole without writeTo -->
    <logger name="*" minlevel="Warn" writeTo="WarnFile" />
  </rules>
</nlog>
