@model MemuModel[]
@{
    ViewData["Title"] = "日志搜索页";
}
    <div class="row">
        <div class="col-sm-1">
            <ul class="nav nav-pills nav-stacked" id="level">
                <li class="active" data-value=""><a>All</a></li>
                <li data-value="Info"><a>Info</a></li>
                <li data-value="Error"><a>Error</a></li>
                <li data-value="Trace"><a>Trace</a></li>
                <li data-value="Warn"><a>Warn</a></li>
            </ul>
        </div>
        <div class="col-sm-11">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="search"
                                   placeholder="请输入名字">
                        </div>
                        <button class="btn btn-primary col-sm-1" id="searchBtn">搜索</button>
                        <button class="btn btn-info col-sm-1" id="modalBtn">新增</button>
                        <label>时间:"2020-07-31 12:20:21"需包起来,"And" 用&连接, "Or" 用空格连接</label>
                    </div>
                </div>
                <div class="panel-body">
                    <table style="table-layout: fixed;word-break:break-all; word-wrap:break-all;" class="table table-striped"  id="logtable">
                        <thead>
                            <tr>
                                <th style="width:180px;">时间</th>
                                <th style="width:80px; ">级别</th>
                                <th style="width:auto;">内容</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        新增日志
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="firstname" class="col-sm-2 control-label">名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="projectName"
                                       placeholder="请输入系统名字">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-2 control-label">Value值</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="projectValue"
                                       placeholder="请输入Value值">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-primary" id="addBtn">
                        提交更改
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
@section Scripts{
    <script type="text/javascript">
        var m_init = {
            logger: "Home/Logger", addProject: "Home/AddProject"
        };
        var m_data = {
            project:"",
            level:"",
            search:""
        };
        $(function () {
            m_data.project = $("#project li.active").attr("data-value");
            $("#searchBtn").trigger("click");
        })
        $("#searchBtn").on("click", function () {
            var url = m_init.logger;
            url += "?project=" + m_data.project + "&search=";
            var search = "";
            if (m_data.level) {
                search += m_data.level;
            }
            var query = $("#search").val();
            if (query) {
                if (search) {
                    search += "&";
                }
            }
            search += query;
            url += encodeURIComponent(search);
            console.log(url);
            $.ajax({
                url: url,
                type:"get",
                success: function (response) {
                    var str = "";
                    if (!response) {
                        str += "<tr><td>无</td><td>无</td><td>无</td></tr>";
                    } else {
                        response.forEach(function (item) {
                            item = JSON.parse(item);
                            var bodyHtml = "";
                            var obj = item["Value"];
                            if (obj) {
                                if (typeof obj == "string") {
                                    bodyHtml = obj;
                                } else {
                                    bodyHtml = JSON.stringify(obj);
                                }
                            }
                            str += "<tr><td>" + item["Time"] + "</td><td>" + item["Level"] + "</td><td>" + bodyHtml + "</td></tr>";
                        })
                    }
                    $("#logtable tbody").html(str);
                }
            })
            return false;
        })
        $("#project li").on("click", function () {
            var temp = $(this);
            temp.siblings().removeClass("active");
            temp.addClass("active");
            m_data.project = temp.attr("data-value");
            $("#searchBtn").trigger("click");
            return false;
        })
        $("#level li").on("click", function () {
            var temp = $(this);
            temp.siblings().removeClass("active");
            temp.addClass("active");
            m_data.level = temp.attr("data-value");
            $("#searchBtn").trigger("click");
            return false;
        })
        $("#addBtn").on("click", function () {
            var url = m_init.addProject + "?project=" + $("#projectName").val() + "&value=" + $("#projectValue").val();
            console.log(url);
            $.ajax({
                type: "get",
                url: url,
                success: function (response) {
                    console.log(response);
                    $("#myModal").modal('hide');
                }
            })
        })
        $("#modalBtn").on("click",function () {
            console.log("ceeee")
            $("#myModal").modal('show');
        })
    </script>
}
